/assets/axiom
/assets/xaeroworldmap
/assets/xraymod
issue.md
mods/\[Xaero的世界地图\] xaeroworldmap-fabric-1.21.11-1.40.11.jar
mods/Axiom-5.3.0-for-MC1.20.1.jar
/packages/axiom
/packages/xraymod
/sourse/axiom
/sourse/xraymod
/packages/xaeroworldmap
/sourse/xaeroworldmap
